#gridContainer {
    height: 720px;
    width: 720px;
    display: flex;
    align-self: center;
    flex-wrap: wrap;

}

.square {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.black {
    background-color: black;
}

.color {

}